
.accordion {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    float: left;
    border: 1px solid lightgray;
    border-collapse: collapse;
    border-spacing:0;
}

.accordion-item {
    cursor: pointer;
    border: 1px solid lightgray;
    padding:8px;
}

.accordion-header {
    display: block;
    align-items: center;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    font-weight: 600;
    color: black;
    font-size: 16px;
    border: 1px solid lightgray;
    border-collapse: collapse;
    border-spacing: 0;
}
.accordion-name {
    font-weight: 600;
    font-size:14px;
}
.accordion-content {
    padding: 10px;
    background-color: #fff;
    font-size: 14px;
}

.accordion-item.active .accordion-content {
    display: block;
}


.chevron {
    margin-right: 8px;
    font-size: 16px;
}

    .chevron.down {
        transform: rotate(90deg);
    }
