.main-container {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.header-content {
    display: flex;
    background-color: #088c4c;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 12px 20px;
}

.footer-content {
    color: black;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-content {
    align-items: center;
    justify-content: right;
    height: 80vh;
}

.body-172 {
    height: 80vh;
}
