.navbar {
    display: inline-block;
    width: 100%;
    background-color: #088c4c;
    color: white;
    font-weight:400;
    padding:12px 20px;
}

.logo, .menu, .misc {
   display:inline-block
}
.logo{
    width:15%;
    font-size:20px;
}
.menu {
    width: 60%;
    font-size:14px;
}

.misc {
    width: 25%;
    font-size: 14px;
}

.menu-list{
    display:inline-block;
    list-style:none;
    padding: 0px 15px;

}

.logo-text{
    margin-left:20px;
}


