
.logo-text {
    font-size: 19px;
    margin-top: 0px;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.header {
    flex: 1;
    background-color: #088c4c;
    color: white;
    padding:12px 20px;
    max-height:50px;
    text-align:left;
}

.content {
    flex: 3;
    display: flex;    
}

.column {
    flex: 1;
    border: 1px solid #ccc;
}

.column-left {
    flex: 1;
    border: 1px solid #ccc;
}
.column-middle {
    flex: 2.5;
    border: 1px solid #ccc;
    padding:10px;
}
.column-right {
    flex: 1;
    border: 1px solid #ccc;
}
.textalign-right
{
    text-align: right;
}

.customer-main {
    display: flex;
    flex-direction:row;
    padding: 0px;
}

.customer-icon {
    font-size: 24px;
    margin-right: 20px;
}

.customer-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left:20px;
}
.customer-border {
    background-color: #ecfcf4;
}
.customer-name {
    font-weight: 600;
    display: block;
    margin-top: 5px;
}

.customer-message {
    margin-bottom: 5px;
    margin-top: 2px;
    font-size: 14px;
}

@media (max-width: 768px) {
    .customer-main {
        flex-direction: column;
        text-align: center;
    }

    .customer-icon {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
